includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    level: 10
    paths:
        - app
        - resources/views
    excludePaths:
        analyse:
            - **/*.blade.php
            - **/*.test.php
    ignoreErrors:
        -
            identifier: expr.resultUnused
            path: resources/views/**
        -
            identifier: argument.type
            path: app/Concerns/WithTableSearch.php
        -
            identifier: argument.type
            path: app/Concerns/HasSearchScope.php
